

<div>
    <input placeholder="Title" ng-model="newTask.title">
    <md-input-container class="md-block" flex-gt-sm>
    <label>First name</label>
    <input ng-model="user.firstName">
  </md-input-container>
    <input placeholder="Body" ng-model="newTask.body">
    <a ng-click="createNewTask()">Save Task</a>
</div>

<br /><br /><br />


<div ng-repeat="task in tasks">
    <h2>{{task.title}}</h2>
    <h4>{{task.body}}</h4>
    <h4>{{task.created}}</h4>
    <a ng-click="deleteTask($index)">Delete this task</a>
</div>


