
<div>
    
    <md-input-container class="md-block" flex-gt-sm>
      <label>Task Title</label>
      <input ng-model="newTask.title">
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
      <label>Task Body</label>
      <input ng-model="newTask.body">
    </md-input-container>
      
    <md-button ng-click="createNewTask()" class="md-icon-button" aria-label="Save this Thing" style="margin-top: -24px;">
        <i class="material-icons">border_color</i>
        <md-tooltip md-delay="200">
          Save this Thing
        </md-tooltip>
    </md-button>
</div>

<br /><br /><br />


<div ng-repeat="task in tasks track by task.created">
    <h2>{{task.title}}</h2>
    <h4>{{task.body}}</h4>
    <h4>{{task.created}}</h4>
    <a ng-click="deleteTask($index)">Delete this task</a>
</div>


